<div class="container">
    <mat-toolbar style="background-color:darkgreen;">
        <span>Loans - Details</span>
    </mat-toolbar> 

    <div *ngIf="loan">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngIf="member">
                <mat-card class="card_member">
                    <mat-card-header>
                        <mat-card-title>
                            <a [routerLink]="['/member', member.id]">
                                Member : {{ member.id }}
                            </a>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>First name : {{ member.first_name }}</p>
                        <p>Last name : {{ member.last_name }}</p>
                        <p>Inscription date : {{ member.inscription_date }}</p>
                        <p>Email address : {{ member.email_address }}</p>
                        <p>Phone number : {{ member.phone_number }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="card_loan">
                    <mat-card-header>
                        <mat-card-title>Loan n° {{ loan.id }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p *ngFor="let book of loan.id_book">
                            <a [routerLink]="['/book', book]">
                                Book : {{ book }}
                            </a>
                        </p>
                        <p>Loan date : {{ loan.date }}</p>
                        <p>End date : {{ loan.end_date }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
