<div class="container">  
    <h2>Books</h2>
    <table>  
        <thead>  
            <tr>  
            <th>Name</th>  
            <th>ID</th>  
            <th>Author</th>  
            <th>Publication date</th>  
            </tr>  
        </thead>  
        <tbody>  
        <tr *ngFor="let book of books">  
            <td>{{ book.name }}</td>  
            <td>
                <a [routerLink]="['/book', book.id]">
                    {{ book.id }}
                </a>
            </td>  
            <td>{{ book.author }}</td>  
            <td>{{ book.publication_date }}</td>  
        </tr>  
        </tbody>  
    </table>  
</div>  
  
